@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	background-color: #56baed;
	font-family: Poppins, Roboto, sans-serif;
}

.card-board{
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
	margin: 70px 0;
	border: 0;
	background: #e6ecf0;
	opacity: 0;
}

.card-board .card-header{
	display: block;
	width: 100%;
	background: none;
	border: 0;
	height: 300px;
	position: relative;
}

.card-board .card-header .container-bg-header{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.card-board .card-header .container-bg-header img{
	width: 100%;
}

.content-logout{
	position: absolute;
	right: 20px;
}

.content-logout #btn-logout{
	background: #fff;
	color: #444;
}

.card-board .card-header .profile{
	position: absolute;
	text-align: center;
	bottom: -80px;
	display: block;
	width: calc(100% - 40px);
}

.card-board .card-header .profile .info{
	display: block;
	color: #fff;
}

.card-board .card-header .profile .avatar-profile{
	display: inline-block;
	width: 220px;
	background: #56baed;
	border-radius: 50%;
	padding: 15px;
	-webkit-box-shadow: inset 5px 5px 10px 0 rgba(0,0,0,0.3);
	box-shadow: inset 5px 5px 10px 0 rgba(0,0,0,0.3);
}

.card-board .card-header .profile img{
	width: 100%;
}

.card-board .card-body{
	padding-top: 120px;
}

.form-control{
	padding: 12px;
	border-color: #E0E0E0;
	resize: none;
}

.form-control:focus{
	box-shadow: none;
}

.input-group-post textarea{
	border: 0;
}

.input-group-post{
	border: 1px solid #E0E0E0;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	padding-bottom: 30px;
	position: relative;
}

.input-group-post small{
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #777;
}

.input-group-post + .btn{
	border-radius: 0 0 10px 10px;
}

.card-container{
	display: block;
	width: 100%;
	padding: 10px;
	background: #fff;
	border-radius: 10px;
	margin-bottom: 20px;
}

.post{
	padding: 5px;
}

.post .article-header .info-author{
	display: block;
	width: 100%;
	position: relative;
}

.post .article-header .info-author .avatar-post{
	width: 60px;
	border: 1px solid #ccc;
	display: inline-block;
	overflow: hidden;
}


.post .article-header .info-author p{
	position: absolute;
	left: 80px;
	top: 10px;
}

.post .article-header .info-author small{
	position: absolute;
	left: 80px;
	top: 30px;
	color: #888;
}

.btn-menu-post{
	background: transparent;
}

.btn-menu-post:focus{
	box-shadow: none;
}