@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
	background-color: #56baed;
	font-family: Poppins, Roboto, sans-serif;
}

body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.container-login{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.card-login{
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
	opacity: 0;
}

.card-login .card-header{
	display: block;
	width: 100%;
	background: none;
	border: 0;
	padding-top: 30px;
}

.card-login .card-header ul{
	display: block;
	width: 100%;
	background: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.card-login .card-header ul li{
	display: inline-block;
	margin: 0px 10px;
}

.card-login .card-header ul li a{
	text-decoration: none;
	color: #bbb;
	text-transform: uppercase;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	border-bottom: 2px solid transparent;
}

.card-login .card-header ul li a.active{
	color: #444;
	border-color: #56baed;
	font-weight: bold;
}

.card-login .card-body{
	padding: 20px 40px;
}

.card-login .card-body .form-control{
	padding: 12px;
	background: #f6f6f6;
	border: 1px solid transparent;
	border-bottom: 3px solid transparent;
	text-align: center;
}

.card-login .card-body .form-control:focus{
	box-shadow: none;
	border-color: #56baed;
	background: #fff;
}

.card-login .card-body .form-control.is-invalid, .card-login .card-body .form-control.is-invalid:focus{
	border-color: #dc3545;
}

.card-login .btn{
	background: #2980b9;
	color: #fff;
	padding: 12px;
}

.img-avatar{
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.img-avatar img{
	width: 250px;
}